* {
    margin: 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    width: 95vw;
    min-height: 100vh;
    max-width: 1840px;
    display: flex;
    flex-direction: column;
}
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 64px;
    background-color: black;
}
#main {
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding: 32px 64px;
}
#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 48px;
    background-color: white;
}
#heading {
    font-size: 56px;
    color: white;
}
#navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    color: black;
}
.nav-item {
    margin-left: 32px;
    text-decoration: none;
    font-size: 24px;
    color: gray;
    transition: color 150ms ease-out,
                transform 150ms ease-out;
    &:hover {
        transform: scale(1.1);
        color: wheat;
    }
    &:active {
        transform: none;
        color: white;
    }
}
.order {
    max-width: 90%;
    width: 720px;
    box-shadow: 0 0 16px black;
    &-preview {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 16px;
    }
    &-doc {
        display: flex;
        flex-direction: column;
    }
    &-number {
        margin-bottom: 8px;
        font-size: 24px;
        color: white;
    }
    &-datetime {
        color: white;
        font-size: 14px;
    }
    &-heading {
        font-size: 36px;
        color: white;
    }

    &-content {
        width: 100%;
        background-color: gray;
        box-sizing: border-box;
        padding: 16px;
        display: flex;
        flex-direction: column;
    }
    &-txt {
        font-size: 20px;
        margin-bottom: 8px;
    }
    &-button {
        text-decoration: none;
        font-size: 24px;
        box-sizing: border-box;
        border: 2px solid black;
        padding: 4px 16px;
        text-align: center;
        color: gray;
        background-color: black;
        transition: color 150ms ease-out,
                    background-color 150ms ease-out;
        &:hover {
            color: black;
            background-color: gray;
        }
        &:active {
            color: gray;
            background-color: black;
        }
    }
}
.footer-item {
    color: gray;
    font-size: 14px;
}
.footer-link {
    color: gray;
    text-decoration: none;
    transition: color 150ms ease-out;
    &:hover {
        color: wheat;
    }
    &:active {
        color: gray;
    }
}
.checked {
    color: white;
}