* {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
  width: 95vw;
  min-height: 100vh;
  max-width: 1840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 64px;
  background-color: black;
}

#main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 64px;
}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 48px;
  background-color: white;
}

#heading {
  font-size: 56px;
  color: white;
}

#navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  color: black;
}

.nav-item {
  margin-left: 32px;
  text-decoration: none;
  font-size: 24px;
  color: gray;
  -webkit-transition: color 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: color 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: color 150ms ease-out, transform 150ms ease-out;
  transition: color 150ms ease-out, transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.nav-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: wheat;
}

.nav-item:active {
  -webkit-transform: none;
          transform: none;
  color: white;
}

.order {
  max-width: 90%;
  width: 720px;
  -webkit-box-shadow: 0 0 16px black;
          box-shadow: 0 0 16px black;
}

.order-preview {
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
}

.order-doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-number {
  margin-bottom: 8px;
  font-size: 24px;
  color: white;
}

.order-datetime {
  color: white;
  font-size: 14px;
}

.order-heading {
  font-size: 36px;
  color: white;
}

.order-content {
  width: 100%;
  background-color: gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-txt {
  font-size: 20px;
  margin-bottom: 8px;
}

.order-button {
  text-decoration: none;
  font-size: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
  padding: 4px 16px;
  text-align: center;
  color: gray;
  background-color: black;
  -webkit-transition: color 150ms ease-out, background-color 150ms ease-out;
  transition: color 150ms ease-out, background-color 150ms ease-out;
}

.order-button:hover {
  color: black;
  background-color: gray;
}

.order-button:active {
  color: gray;
  background-color: black;
}

.footer-item {
  color: gray;
  font-size: 14px;
}

.footer-link {
  color: gray;
  text-decoration: none;
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.footer-link:hover {
  color: wheat;
}

.footer-link:active {
  color: gray;
}

.checked {
  color: white;
}
/*# sourceMappingURL=main.css.map */